<%= with input_group <- ~s(question[#{@q_id}][]),
         input_id <- ~s(question[#{@q_id}][#{@a_id}]) do %>
  <div>
    <input name="<%=input_group%>" type="radio" id="<%=input_id%>" value="<%=@a_id%>">
    <label for="<%=input_id%>"><%=@text%></label>
  </div>
<% end %>
