<%= with input_group <- ~s(question[#{@q_id}][]),
         input_id <- ~s(question[#{@q_id}][#{@a_id}]) do %>
  <div class="question__answer--radio">
    <input name="<%=input_group%>"
           type="checkbox"
           id="<%=input_id%>" value="<%=@a_id%>"
           aria-required="<%=@required%>">
    <label for="<%=input_id%>">
      <%=@text%>
    </label>
  </div>
<% end %>
