<!DOCTYPE html>
<html lang="de" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "AccessibleComponents", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="prose max-w-none flex flex-col h-full">
    <header class="p-4 bg-gray-100">
      <a href="/" title="AccessibleComponents Home Page" class="flex items-center text-xl text-gray-900">
        AccessibleComponents
      </a>
    </header>
    <%= @inner_content %>
    <footer>
      Blub
    </footer>
  </body>
</html>
