/* autoprefixer grid: autoplace */
.question--language_select {
  .question__answers {
    @include sm {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }
    @include md {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
    // using both gaps could ensure backwards compatibility
    // https://github.com/postcss/autoprefixer/issues/1274#issuecomment-862211771
    grid-gap: 1rem;
    gap: 1rem;
    justify-items: center;
    align-items: center;

    label {
      padding: 0.375rem;
    }
    input:focus + label {
      border: 0.125rem solid var(--highlight);
      border-radius: 2px;
      padding: 0.25rem;
    }
  }
}
