.question {
  background: var(--lightbg);
  margin-bottom: 1rem;
  &__title {
    background: var(--lightbg);
    padding: 0.25rem;
    border-bottom: 0.1rem solid var(--dark);
    font-weight: bold;
  }
  &__required {
    color: var(--danger);
  }
  &__description {
    @include sm {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .description__icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-bottom: -0.5rem;
      @include sm {
        margin-bottom: 0;
      }
    }

    .description__icon--white {
      display: none;
    }
    @include dark-mode {
      .description__icon--white {
        display: block;
      }
      .description__icon--black {
        display: none;
      }
    }
  }
  &--fillMeOut {
    border-color: var(--danger);
    border-width: 4px;
  }
}
