// CSS Reset
@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  //// COLORS
  // variables
  --primary: #3b82f6;
  --dark: #17161b;
  --darkbg: #24222a;
  --light: #ebebeb;
  --lightbg: #ffffff;
  --danger: #cc0000;
  --highlight: #5e9ed6;

  // apply to variables used in components
  --text-color-dark: --dark;
  --text-color-light: --light;

  //// SIZING
  --text-sm: 0.7rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;
  --text-xl: 2.25rem;
}

html,
body {
  background-color: var(--light);
  * {
    color: var(--dark);
  }
}

@include dark-mode {
  :root {
    --dark: #ebebeb;
    --light: #17161b;
    --darkbg: #ffffff;
    --lightbg: #24222a;
    --danger: #ff0000;
    --highlight: orange;
  }
}
