// TODO: this only exists as scss for now
button,
input[type='button'] {
  background-color: var(--light);
  color: var(--dark);
  padding: 0.5rem 1rem;

  @include dark-mode {
    background-color: var(--dark);
    color: var(--light);
  }
}
