.question {
  margin-bottom: 1rem;
  &__title {
    font-weight: bold;
  }
  &__required {
    color: var(--danger);
  }
  &__answer--radio,
  &__answer--checkbox {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    > input,
    label {
      padding: 0.25rem;
    }
  }
  &--fillMeOut {
    border-color: var(--danger);
    border-width: 4px;
  }
}
