.question {
  margin-bottom: 1rem;
  &__title {
    font-weight: bold;
  }
  &__required {
    color: var(--danger);
  }
  // TODO: split up the below into subcomponents,
  //       remove one layer from their BEM (so 'answer' is block)
  &__answer--radio,
  &__answer--checkbox,
  &__answer--language_select {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    > input,
    label {
      padding: 0.25rem;
    }
  }
  &--fillMeOut {
    border-color: var(--danger);
    border-width: 4px;
  }
}
