<section>
  <h1>Bitte füllen Sie den nachfolgenden Anamnesebogen aus:</h1>
  <form action="" method="post">
    <%= for %{ id: q_id, title: title, type: type, answers: answers, required: required } = question <- @questions do %>
      <%= live_component(@socket, QuestionComponent, question: question) %>
    <% end %>
    <%# TODO: Remove my "button" role! %>
    <button id="submit_button" type="submit">Absenden</button>
  </form>
</section>
